DJANGO_SETTINGS_MODULE=thing.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://thing:password@db:5432/thing
# DATABASE_URL=sqlite:///backend/db.sqlite3
